.App {
  text-align: center;
  color: black;
}

.list {
color: black;
}

.item {
  background-color: rgb(185, 241, 239);
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  margin: 20px; 
}

.item.completed {
  text-decoration: line-through;
  background-color: yellow;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #09d3ac;
}
